<form class="search-form ui form">
    <div class="ui top attached stackable tabular menu">
        <div class="active item" data-tab="aet">Author  ·  Editor  ·  Translator</div>
        <div class="item" data-tab="pub">Publisher  ·  Publication Year</div>
        <div class="item" data-tab="ls">Language  ·  Subject</div>
        <div class="item" data-tab="anno">Annotator</div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="aet">
        <div class="ui stackable grid">
            <div class="author six wide column field">
                <label for="author">Author</label>
                <div class="ui left icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search or select authors">
                </div>
                <div class="rolodex">
                    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                    <a class="letter" href="#">{{ letter }}</a>
                    {% endfor %}
                </div>
                <div class="facets">
                    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                    <div class="ui checkbox">
                        <input name="facet-{{ letter }}" type="checkbox">
                        <label>Facet {{ letter }} <span class="count">{{ forloop.counter }}</span></label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="editor three wide column field">
                <label for="editor">Editor</label>
                <div class="facets">
                    {% for letter in "ABCDEF" %}
                    <div class="ui checkbox">
                        <input name="facet-{{ letter }}" type="checkbox">
                        <label>Facet {{ letter }} <span class="count">{{ forloop.counter }}</span></label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="translator three wide column field">
                <label for="translator">Translator</label>
                <div class="facets">
                    {% for letter in "ABCD" %}
                    <div class="ui checkbox">
                        <input name="facet-{{ letter }}" type="checkbox">
                        <label>Facet {{ letter }} <span class="count">{{ forloop.counter }}</span></label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="pub">
        <div class="ui stackable grid">
            <div class="publisher nine wide column field">
                <label for="author">Publisher</label>
                <div class="ui grid">
                    <div class="six wide column">
                        <div class="ui left icon input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search or select publishers">
                        </div>
                    </div>
                    <div class="six wide column">
                        <div class="rolodex">
                            {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                            <a class="letter" href="#">{{ letter }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="facets">
                    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                    <div class="ui checkbox">
                        <input name="facet-{{ letter }}" type="checkbox">
                        <label>Facet {{ letter }} <span class="count">{{ forloop.counter }}</span></label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pubyear three wide column field">
                <label for="editor">Publication Year</label>
                <div class="facets">
                    {% for letter in "ABCDEF" %}
                    <div class="ui checkbox">
                        <input name="facet-{{ letter }}" type="checkbox">
                        <label>Facet {{ letter }} <span class="count">{{ forloop.counter }}</span></label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="ls">
        <h1>ls</h1>
    </div>
    <div class="ui bottom attached tab segment" data-tab="anno">
        <h1>anno</h1>
    </div>
</form>