/* footer */

#footer {
    padding: 1rem 0;
    margin: 0 auto;
    width: 100%;
    background: transparent;
    background-image: linear-gradient(to bottom, rgba(64, 64, 64, 0), rgba(39, 39, 39, 0.73) 8%, $black 20%, $black);

    @media (min-width: $tablet) {
        background-image: linear-gradient(to bottom, rgba(64, 64, 64, 0), rgba(39, 39, 39, 0.73) 15%, $black 44%, $black);
    }
    @media (min-width: $computer) {
        background-image: linear-gradient(to bottom, rgba(64, 64, 64, 0), rgba(39, 39, 39, 0.73) 25%, $black 57%, $black);
    }

    .grid.container {
        padding-top: 4rem;

        @media (min-width: $tablet) {
            padding-top: 10rem;
        }

        @media (min-width: $computer) {
            padding-top: 12rem;
        }
    }

    .manicule {
        width: 63px;
        max-height: 100px; // iOS sizing fix
    }

    nav.menu {
        background: transparent;
        justify-content: center;
        flex-wrap: wrap;

        @media (min-width: $computer) {
            margin: 1em 0;
        }
    }

    .menu .item {
        color: $toupe;

        @media (max-width: $tablet) {
            padding: .5rem;
            justify-content: center;
        }
    }

    .project-logo {
        width: 200px;
        max-height: 120px; // iOS sizing fix
        margin-bottom: 1rem;

        @media (min-width: $tablet) {
            margin: 0;
        }
    }

    .link.list {
        @media (max-width: $mobile) {
            flex-direction: column;

            .item {
                margin-left: 0;
            }
        }

        @media (min-width: $computer) {
            padding: 1rem 0;
        }
    }

    .logos {
        margin: 2rem;
        justify-content: space-between;

        .tiny.image { // CDH logo
            margin-right: 1rem;
            margin-left: 0; // iOS spacing fix
        }

        @media (min-width: $tablet) {
            margin: 0;
        }
        
        @media (min-width: $computer) {
            padding: 0;
        }
    }

    .contact {
        display: flex;
        align-items: center;
        flex-direction: column;

        a.item {
            color: $toupe;
        }

        @media (min-width: $tablet) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    #sw_version {
        @media (min-width: $tablet) {
            margin-left: auto;
        }
    }
}