/* footer */

#footer {
    padding: 1rem 0;
    margin: 0 auto;
    width: 100%;

    .grid.container {
        padding-top: 4rem;

        @media (min-width: $tablet) {
            padding-top: 10rem;
        }

        @media (min-width: $computer) {
            padding-top: 12rem;
        }
    }

    .manicule {
        width: 63px;
    }

    nav.menu {
        background: transparent;
        justify-content: center;
        flex-wrap: wrap;

        @media (min-width: $computer) {
            margin: 1em 0;
        }
    }

    .menu .item {
        color: $toupe;

        @media (max-width: $tablet) {
            padding: .5rem;
            justify-content: center;
        }
    }

    .project-logo {
        width: 200px;
        margin-bottom: 1rem;

        @media (min-width: $tablet) {
            margin: 0;
        }
    }

    .link.list {
        @media (max-width: $mobile) {
            flex-direction: column;

            .item {
                margin-left: 0;
            }
        }

        @media (min-width: $computer) {
            padding: 1rem 0;
        }
    }

    .logos {
        margin: 2rem;
        justify-content: space-between;

        .tiny.image {
            margin-right: 1rem;
        }

        @media (min-width: $tablet) {
            margin: 0;
        }
        
        @media (min-width: $computer) {
            padding: 0;
        }
    }

    .contact {
        display: flex;
        align-items: center;
        flex-direction: column;

        a.item {
            color: $toupe;
        }

        @media (min-width: $tablet) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    #sw_version {
        @media (min-width: $tablet) {
            margin-left: auto;
        }
    }
}