/* footer */

#footer {
    padding: 1rem 0;
    margin-bottom: 0;

    nav.menu {
        justify-content: center;
        flex-wrap: wrap;

        @media (min-width: $computerBreakpoint) {
            margin: 1em 0;
        }
    }

    .menu .item {
        @media (max-width: $tabletBreakpoint) {
            justify-content: center;
        }
    }

    .link.list {
        @media (max-width: $mobileBreakpoint) {
            flex-direction: column;
        }

        @media (min-width: $computerBreakpoint) {
            padding: 2rem 0;
        }
    }

    .logos {
        margin: 2rem;

        @media (min-width: $tabletBreakpoint) {
            margin-top: 0;
        }

        @media (min-width: $computerBreakpoint) {
            margin: 0;
        }
    }

    .contact {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (min-width: $tabletBreakpoint) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    #sw_version {
        @media (min-width: $tabletBreakpoint) {
            margin-left: auto;
        }
    }
}