/* header */

#header {
    margin: 0;
    padding: 0;

    @media (min-width: $tablet) {
        margin-top: - $nav-height;

        .ui.header {
            padding-top: $nav-height;
        }
    }
}