/* main content */

.pushable > .pusher {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    z-index: inherit;
}

#main {
    flex: 1 0 auto;
    margin: 0;
    padding: 0 0 50px;
    background: transparent;

    @media (min-width: $mobile) {
        padding-bottom: 100px;
    }
}