/* navigation */

#main-nav {
    margin: 0;
    min-height: $nav-height;
    z-index: 103; // above mobile nav
    transition: all 0.25s;

    @media (min-width: $tablet) {
        background: transparent;
    }

    .center.menu {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 4rem;
    }

    .brand {
        width: 100%;
        height: $nav-height;
        display: flex;
        position: absolute;
        justify-content: center;
        margin: 0;

        @media (min-width: $tablet) {
            justify-content: start;
        }

        .item {
            display: flex;

            img {
                width: 3rem;
            }
        }
    }

    .item {
        z-index: 1;
        display: none;

        @media (min-width: $tablet) {
            display: flex;
        }

        &.search {
            display: flex;
        }

        &.toc {
            display: flex;

            @media (min-width: $tablet) {
                display: none;
            }
        }
    }
}

#mobile-nav {
    top: $nav-height !important; // have to override sui's important
}

#site-search {
    min-height: $nav-height;
    top: $nav-height !important; // have to override sui's important
}