/* search form */

.search-form {
    margin: 1rem auto 3rem;

    .tabular.menu {
        .item:not(.active),
        .item:not(.active):hover {
            background: $toupe;
        }

        .item {
            margin-right: 1rem;
        }
    }

    .tab.segment {
        height: 330px;
        overflow-y: scroll;
        
        .column.field {
            overflow-y: hidden;
            padding-left: 1rem;
            padding-right: 1rem;
            border-left: 2px solid $lightGrey;

            &:first-child {
                border-left: none;
            }
        }
    }

    .rolodex {
        margin-top: .5rem;
        display: flex;
        flex-wrap: wrap;

        .letter {
            width: calc((1 / 13) * 100%);
            text-align: center;

            &.active {
                text-decoration: underline;
            }
        }
    }

    .facets {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        flex-wrap: wrap;
    }
    
    .checkbox {
        width: 100%;
        margin: .5rem 0;
        padding-right: 1rem;
        padding-left: .5rem;
    }

    .count {
        float: right;
    }

    .author {
        .rolodex {
            margin: 1rem 0 .5rem;
        }
        .checkbox {
            width: 50%;
        }
    }

    .publisher {
        > .grid {
            margin-bottom: .5rem;
        }
        .checkbox {
            width: 33%;
        }
    }

    .active-items {
        .active-facet-choice {
            margin: 0 .5rem;
            display: inline-block;

            .choice-name {
                font-weight: normal;
            }
        }
    }
}