/* search result */

.result {
    margin: 1rem 0;

    @media (min-width: $tablet) {
        margin: 2rem 0;
    }

    .segment {
        border: 0;
        padding: 0;
        margin: 0 auto;
        height: $result-card-height;
        width: $result-width;
        display: flex;
        justify-content: end;
        background-color: $parchment;

        @media (min-width: $tablet) {
            margin: 0;
            margin-right: auto;
            width: $result-card-width-m;
        }

        @media (min-width: $computer) {
            width: $result-card-width-l;
        }
    }

    .attributes {
        min-width: 0;
        padding: 1rem;
        flex: auto;

        > p {
            font-size: 1rem;
            line-height: 1.14;
            margin-bottom: .5rem;
        }

        .title {
            font-weight: bold;
        }
    
        .label {
            position: absolute;
            bottom: .5rem;
            left: 1rem;
            padding: .25em !important; // have to override sui important
            min-height: 1em;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 10px;
        }
    }


    .image {
        flex: none;
        height: $result-card-height;
        z-index: 1;

        @media (min-width: $tablet) {
            position: absolute;
            left: 100%;
            height: $result-image-height;
            top: calc((#{$result-card-height} / 2) - (#{$result-image-height} / 2));
        }

        &.placeholder {
            width: 100px;
            background-color: grey;
            background-image: url("/static/img/winthrop_default_book.svg");

            @media (min-width: $tablet) {
                width: 140px;
            }
        }
    }

    .highlighting p em {
        font-weight: bold;
    }
}