/* search form */

.search-form {
    margin: 1rem auto 3rem;

    .tabular.menu {
        .item:not(.active),
        .item:not(.active):hover {
            background: $toupe;
        }

        .item {
            margin-right: 1rem;
        }

        .item.disabled {
            background: $toupe !important; // override sui important
        }
    }

    .tab.segment {
        height: 330px;
        overflow-y: scroll;

        .column.field {
            overflow-y: hidden;
            padding-left: 1rem;
            padding-right: 1rem;
            border-left: 2px solid $lightGrey;

            &:first-child {
                border-left: none;
            }
        }
    }

    .rolodex {
        margin-top: .5rem;
        display: flex;
        flex-wrap: wrap;

        .letter {
            width: calc((1 / 13) * 100%);
            text-align: center;

            &.active {
                text-decoration: underline;
            }
        }
    }

    .range-facet .inputs {
        margin-top: 1rem;
        display: flex;
        align-items: center;

        label { // "to"
            padding: 0 2rem;
        }
    }

    .facets {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        flex-wrap: wrap;
    }

    .checkbox {
        width: 100%;
        margin: .5rem 0;
        padding-right: 1rem;
        padding-left: .5rem;

        label {
            cursor: pointer;
        }
    }

    .count {
        float: right;
    }

    .author {
        .rolodex {
            margin: 1rem 0 .5rem;
        }
        .checkbox {
            width: 50%;
        }
    }

    .publisher {
        > .grid {
            margin-bottom: .5rem;
        }
        .checkbox {
            width: 33%;
        }
    }

    .active-items {
        .active-facet-choice {
            margin: 0 .5rem;
            display: inline-block;

            .choice-name {
                font-weight: normal;
            }
        }

        .clear-all { // "clear all"
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .search-sort,
    .pagination {
        display: flex;
        align-items: center;

        label { // "sort by", "display", "results"
            margin-right: 1rem;
        }
    }
}

/* minimal styles for noscript fall-back search form */

noscript form {
    input[name=query] {
        width: 80%;
    }
    /* TODO: if there's an easy way to float or stack in columns, add that */

    ul {
        max-height: 330px;

        padding-right: 10px;
        overflow-y: auto;
        list-style-type: none;

        @media (min-width: $computer) {
            width: 250px;
        }
    }

    label span {
        float: right;
    }
}
