/* site search */

#site-search {
    background: $parchment;
    margin: 0;
    flex-wrap: wrap;

    .search.item {
        min-height: $nav-height;
        width: 100%;

        @media (min-width: $tablet) {
            flex: 1;
        }
    }

    .dropdown.item {
        flex: 1;
        min-height: $nav-height;
        background: white;

        @media (min-width: $tablet) {
            max-width: 160px;
            margin-right: 6rem;
        }

        .dropdown.icon {
            margin: auto;
            margin-right: 1em;
        }
    }

    .close.item {
        position: absolute;
        top: 0.75rem;
        right: 0;
    }
}