// positioning
$nav-height: 64px;
$banner-height-l: 810px;
$banner-height-m: 536px;
$banner-height-s: 354px;

// breakpoints
$mobile: 320px;
$tablet: 735px;
$computer: 1068px;
$largeMonitor: 1440px;
$widescreenMonitor: 1920px;