django>=1.11
mysqlclient
django-grappelli
django-autocomplete-light
requests
rdflib
git+https://github.com/Princeton-CDH/django-pucas.git@0.5#egg=pucas
# for now, djiffy needs unreleased version of piffle for py3
git+https://github.com/Princeton-CDH/piffle.git@feature/python3-compatibility#egg=piffle
# initial release of djiffy (not yet on pypi)
git+https://github.com/Princeton-CDH/djiffy.git@0.1#egg=djiffy
# initial standalone release of annotator-store (not yet on pypi)
git+https://github.com/Princeton-CDH/django-annotator-store.git@0.5#egg=annotator_store
