/* book list page */

#book-list {
    #header {
        @include responsive-banner("/static/img/winthrop_banner_book");
    }

    .results-count {
        color: white;
        font-weight: normal;
    }

    .result {

        img.placeholder {
            background-image: url("/static/img/winthrop_default_book.svg");
        }
    }
}