@mixin responsive-banner($src) {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    // small 1x and 2x
    min-height: $banner-height;
    background-image: url("#{$src}_S@1x.png");
    @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
        background-image: url("#{$src}_S@2x.png");
    }

    // medium 1x and 2x
    @media (min-width: $tablet) {
        min-height: $banner-height-m;
        margin-bottom: -30px;
        background-image: url("#{$src}_M@1x.png");
        @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
            background-image: url("#{$src}_M@2x.png");
        }
    }

    // large 1x and 2x
    @media (min-width: $computer) {
        margin-bottom: -140px;
        min-height: $banner-height-l;
        background-image: url("#{$src}@1x.png");
        @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
            background-image: url("#{$src}@2x.png");
        }
    }
}

@mixin responsive-margin($direction, $scale: 2, $base: 1rem) {
    @media (min-width: $mobile) {
        margin-#{$direction}: #{$base};
    }
    @media (min-width: $tablet) {
        margin-#{$direction}: calc(#{$base} * #{$scale});
    }
    @media (min-width: $computer) {
        margin-#{$direction}: calc(#{$base} * #{$scale} * 2);
    }
    @media (min-width: $largeMonitor) {
        margin-#{$direction}: calc(#{$base} * #{$scale} * 3);
    }
    @media (min-width: $widescreenMonitor) {
        margin-#{$direction}: calc(#{$base} * #{$scale} * 4);
    }
}

@mixin footer-gradient() {
    background: transparent;
    background-image: linear-gradient(to bottom, rgba(64, 64, 64, 0), rgba(39, 39, 39, 0.73) 8%, $black 20%, $black);
    @media (min-width: $tablet) {
        background-image: linear-gradient(to bottom, rgba(64, 64, 64, 0), rgba(39, 39, 39, 0.73) 15%, $black 44%, $black);
    }
    @media (min-width: $computer) {
        background-image: linear-gradient(to bottom, rgba(64, 64, 64, 0), rgba(39, 39, 39, 0.73) 25%, $black 57%, $black);
    }
}

@mixin font-smooth() {
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@mixin no-font-smooth() {
    font-smoothing: never;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}