// typography
$rem: 14px;

// colors
$black        : #1E1E1E;
$gold         : #C6AE80;
$red          : #945348;
$lightGold    : #D0C3A9;
$offWhite     : #F2EFE7;
$lightGrey    : #D8D8D8;
$midGrey      : #737373;
$darkGrey     : #4A4A4A;

// nav
$nav-height: 4rem;

// banner
$banner-height: 230px;
$banner-height-m: 400px;
$banner-height-l: 810px;

// search result
$result-card-height: pxToRem(160px);
$result-image-height: pxToRem(218px);
$result-card-width: pxToRem(290px);
$result-card-width-m: pxToRem(300px);
$result-card-width-l: pxToRem(400px);

// breakpoints
$mobile: 320px;
$tablet: 735px;
$computer: 1068px;
$largeMonitor: 1440px;
$widescreenMonitor: 1920px;