{% load static %}
<!-- navigation menu -->
<nav class="ui inverted borderless menu" id="main-nav">
    <div class="brand">
        <a class="item" href="/" alt="home">
            <img src="{% static 'img/logo/winthrop_logo_W_light.svg' %}" />
        </a>
    </div>
    <a class="toc item">
        <i class="sidebar icon"></i>
        <i class="times icon" style="display:none;"></i>
    </a>
    <div class="center menu">
        <a class="item" href="{% url 'books:list' %}">Books</a>
        <a class="item">People</a>
        <a class="item">Annotations</a>
        <a class="item">Stories</a>
        <a class="item">Bibliography</a>
        <a class="item">Download Data</a>
    </div>
    <div class="right menu">
        <a class="search item">
            <i class="search icon"></i>
        </a>
    </div>
</nav>
    