<!-- site search -->
<div class="ui top sidebar borderless menu" id="site-search">
    <div class="ui search item">
        <div class="ui transparent left icon input">
            <input class="prompt" placeholder="Search..." type="text">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="close item">
        <i class="times link icon"></i>
    </div>
    <div class="ui dropdown item">
        All
        <input name="category" type="hidden">
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="all">All</div>
            <div class="item" data-value="books">Books</div>
            <div class="item" data-value="people">People</div>
            <div class="item" data-value="annotations">Annotations</div>
        </div>
    </div>
</div>