<!-- site search -->
<form class="ui top sidebar borderless menu" id="site-search">
    <div class="ui search item">
        <div class="ui transparent left icon input">
            <input id="id_query" name="query" placeholder="Search..." type="text">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="close item">
        <i class="times link icon"></i>
    </div>
    <select class="ui dropdown item">
        <option value="all" disabled="disabled">All</option>
        <option value="books">Books</option>
        <option value="people" disabled="disabled">People</option>
        <option value="annotations" disabled="disabled">Annotations</option>
    </select>
</form>