{% extends "base.html" %}

{% block page-subtitle %}{{ book.short_title }} | Books | {% endblock %}

{% block content %}
<div class="ui container">

    <div class="ui segment">
        <h1>{{ book.short_title }}</h1>

        {% if book.thumbnail %} {# copied from list view; same size? #}
            <img class="ui right floated image" src="{% iiif_image book.thumbnail height=218 %}"
                srcset="{% iiif_image book.thumbnail height=436 %} 2x"
                alt="{{ book.thumbnail_label }}" title="{{ book.thumbnail_label }}"/>
        {% endif %}

        <div>Title: {{ book.title }}</div>

        {% if book.is_annotated %}
            <div class="ui label">annotated</div>
        {% endif %}

        <table class="ui table">
            {% if book.authors %}
            <tr>
                <th>Author</th>
                <td>
                    {% for author in book.authors %}
                    <p>{{ author }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

            {% if book.translators %}
            <tr>
                <th>Translator</th>
                <td>
                    {% for translator in book.translators %}
                    <p>{{ translator }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

            {% if book.editors %}
            <tr>
                <th>Editor</th>
                <td>
                    {% for editor in book.editors %}
                    <p>{{ editors }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

            {% if book.original_pub_info %}
            <tr>
                <th>Original Publication Information</th>
                <td>{{ book.original_pub_info }}</td>
                </td>
            </tr>
            {% endif %}

            {% if book.publisher %}
            <tr>
                <th>Publisher</th>
                <td>{{ book.publisher }}</td>
                </td>
            </tr>
            {% endif %}

            {% if book.pub_place %}
            <tr>
                <th>Place of Publication</th>
                <td>{{ book.pub_place }}</td>
                </td>
            </tr>
            {% endif %}

            {% if book.pub_year %}
            <tr>
                <th>Year of Publication</th>
                <td>{{ book.pub_year }}</td>
                </td>
            </tr>
            {% endif %}

            {% if book.languages.exists %}
            <tr>
                <th>Book Language</th>
                <td>{% for language in book.languages.all %}<p>{{ language }}</p>{% endfor %}</td>
            </tr>
            {% endif %}

            {% if book.subjects.exists %}
            <tr>
                <th>Book Subject</th>
                <td>{% for subject in book.subjects.all %}<p>{{ subject }}</p>{% endfor %}</td>
            </tr>
            {% endif %}

            {% if book.catalogue_set.exists %}
            <tr>
                <th>Owning Institution</th>
                <td>{% for catalogue in book.catalogue_set.all %}
                    <p>{{ catalogue.institution }} {{ catalogue.call_number }}</p>
                {% endfor %}</td>
            </tr>
            {% endif %}

            {% if book.personbook_set.exists %}
            <tr>
                <th>Person/Book interactions</th>
                <td>
                    {% for personbook_rel in book.personbook_set.all %}
                    <p>{{ personbook_rel.person }}, {{ personbook_rel.relationship_type}}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}

            {% if book.notes %}
            <tr>
                <th>Notes</th>
                <td>{{ book.notes }}</td>
            </tr>
            {% endif %}


        </table>


    </div>
</div>
{% endblock %}