{% extends "base.html" %}
{% load static humanize %}

{% block page-subtitle %}Books | {% endblock %}

{% block page-context-id %}book-list{% endblock %}

{% block js %}
<script src="{% static 'js/search.js' %}" type="module"></script>
{% endblock %}

{% block page_header %}
<header id="header" class="ui inverted center aligned basic segment">
	<h1 class="ui header">Books</h1>
</header>
{% endblock %}

{% block content %}
<div class="ui container">
	<div class="ui center aligned text container">
		{% if paginator.count %}
			<h4 class="results-count ui header">Displaying {{ paginator.count|intcomma }} book{{ paginator.count|pluralize }}</h4>
		{% endif %}
	</div>
	<books-search></books-search>
	{% comment %} {% include 'books/snippets/search_form.html' %} {% endcomment %}
	{% if paginator.count %}
	<div class="ui two column stackable grid">
		{% for book in object_list %}
		<div class="six wide column">
			{% include 'books/snippets/book_result.html' %}
		</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="ui error message">
			<p>{% firstof error "No results found" %}</p>
	</div>
	{% endif %}
	{% include 'snippets/pagination.html' %}
</div>
{% endblock %}