{% extends 'djiffy/canvas_detail.html' %}

{% block css %}
<style type="text/css">
{# tweak some djiffy/annotator styles for display #}
.inner { display: inline-block; } {# match page image size exactly #}
.margin-container-show aside.margin-container { right: -5px;}
.marginalia-item > div {
    padding-left: 20px;
}
.marginalia-item label {
    padding-right: 5px;
}
.ui-autocomplete {
     z-index: 9999 !important;
}
</style>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {# enable annotation functionality if user has appropriate permissions #}
    {% if perms.annotation.add_annotation %}
        {% include 'snippets/annotator_init.html' %}
    {% endif %}
{% endblock %}
