{% extends 'djiffy/canvas_detail.html' %}

{% block css %}
<style type="text/css">
{# tweak some djiffy/annotator styles for display #}
.inner { display: inline-block; } {# match page image size exactly #}
.margin-container-show aside.margin-container { right: -5px;}
.marginalia-item > div {
    padding-left: 20px;
}
.marginalia-item label {
    padding-right: 5px;
}

.annotator-anchortext {
  border-top: 1px solid #e4e4e4;
}

.field-label {
  position: relative;
  right: 0px;
  text-align: right !important;
  color: black !important;
  font-weight: bold !important;
  background: lightgrey !important;
  height: 2px;
  width: 100% !important;
}

.ui-menu {
      box-shadow: 0px 0px 10px blue;
      -moz-box-shadow: 0px 0px 10px blue;
      -webkit-box-shadow: 0px 0px 10px blue;
}


</style>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {# enable annotation functionality if user has appropriate permissions #}
    {% if perms.annotation.add_annotation %}
        {% include 'snippets/annotator_init.html' %}
    {% endif %}
{% endblock %}
